html,
body {
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    position: relative;
    width: 500px;
    margin: 100px auto;
    padding-bottom: 500px;

    .row {
        min-height: 300px;
        margin-bottom: 30px;
        background: #ddd;
    }
}

.top-menu {
    position: fixed;
    // width: 280px;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    .item {
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;

        &.active {
            color: #f00;
        }
    }
}

.right-menu {
    position: fixed;
    width: 280px;
    left: 50%;
    top: 100px;
    margin-left: 300px;

    .item {
        margin-top: 20px;
        cursor: pointer;

        &.active {
            color: #f00;
        }
    }
}
